/* Tap */
.tap-container {
  display: flex;
  padding: 0 13%;
  height: 64px;

  .tap {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-bottom: 2px solid #f1f1f5;
  }

  #target {
    font-weight: 600;
    border-color: black;
  }

  #target:hover {
    opacity: 1;
  }
}

/* main-container & title */
.main-container {
  padding: 100px 13% 80px;

  .title {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: center;
  }
}

/* page-container */
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;

  .page-button {
    font-size: 13px;
    color: #767676;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 5px;
  }

  .page-button.active {
    color: black;
    font-weight: 600;
    border: 1px solid #4b79ee;
    border-radius: 50%;
  }
}
