.consult-form {
  width: 100%;

  .consult-box {
    display: flex;
    margin-bottom: 40px;

    .consult-title {
      width: 20%;
      margin-top: 5px;
      font-size: calc(15px + 0.3vw);
      font-weight: 600;
    }

    input,
    textarea {
      border: 1px solid #cacad7;
      border-radius: 3px;
      padding: 0 10px;
      height: 40px;
      font-size: 14px;
      color: #505050;
      resize: none;
    }
  }
}

.price-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;

  div {
    display: flex;
    align-items: center;
    width: 25%;

    input {
      margin-right: 5px;
    }

    span {
      font-size: 13px;
      color: #505050;
    }
  }
}

#file-box {
  width: 100%;
  border-top: 1px solid #cacad7;
  border-bottom: 1px solid #cacad7;
  align-items: center;
  padding: 20px 0;

  input {
    border: none;
    margin-top: 20px;
    color: #505050;
    font-size: 12px;
  }
}

.agree-box {
  border: 1px solid #cacad7;
  border-radius: 3px;
  padding-top: 50px;
  font-size: 14px;
  color: #505050;

  p {
    margin-left: 50px;
    margin-bottom: 8px;
    font-size: 15px;
    display: flex;
    align-items: center;

    span {
      font-size: 10px;
      margin-right: 5px;
    }
  }

  div {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #f1f1f5;

    input {
      margin-right: 10px;
    }

    span {
      font-size: 13px;
      color: #505050;
    }
  }
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0;

  button {
    background-color: #4b79ee;
    padding: 20px 100px;
    border-radius: 6px;
    color: white;
  }
}
